@page
@using Newtonsoft.Json
@model SubscriptionsPageModel

<div class="form-group " style="margin: 20px 0px">
    <input type="text" id="searchInput" class="form-control" placeholder="Search by Correlation ID">
</div>



<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">CorrelationId</th>
            <th scope="col">Last Application</th>
            <th scope="col">Last Update</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (Subscription item in Model.Subscriptions ?? Enumerable.Empty<Subscription>())
        {
            
            <tr  class="table-info">
                
                <th scope="row">
                    <a href="@Url.Page("/Logs", new { CorrelationId = item.CorrelationId })" style="color: black; font-weight: bold; text-decoration: none;">
                        @item.CorrelationId
                    </a>
                </th>
                    <td>
                        @item.Application
                    </td>
                    <td>
                    @{
                        DateTime dateTime = DateTime.Parse(item.UpdateDate, null, System.Globalization.DateTimeStyles.RoundtripKind);
                        string formattedDate = dateTime.ToString("yyyy-MM-dd HH:mm:ss");
                    }
                    @formattedDate
                    </td>
                
                </tr>
        }
    </tbody>
</table>