@page
@using Newtonsoft.Json
@model SubscriptionsPageModel


<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">CorrelationId</th>
            <th scope="col">Last Application</th>
            <th scope="col">Last Update</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (Subscription item in Model.Subscriptions ?? Enumerable.Empty<Subscription>())
        {
            
            <tr class="table-info">
                <th scope="row">
                    @item.CorrelationId
                </th>
                <td>
                    @item.Application
                </td>
                <td>
                    @item.UpdateDate
                </td>
                
            </tr>
        }
    </tbody>
</table>